@media screen and (min-width: 2500px) and (min-height: 1350px)
  .land
    &__container
      transform: scale(1.2)
      transform-origin: top left
    &__btn
      margin-bottom: 150px
    &__players
      width: 1400px
@media screen and (max-width: 2204px) and (max-height: 990px)
  .land
    &__players
      width: 1150px
@media screen and (max-width: 1920px) and (max-height: 990px)
  .land
    &__players
      width: 1050px
@media screen and (max-width: 1830px) and (max-height: 920px)
  .land
    &__container
      padding-left: 140px
      width: 690px
      transform: scale(0.9)
      transform-origin: left top
    &__title
      margin-top: 100px
    &__players
      width: 1000px
      right: 30px
@media screen and (max-width: 1707px) and (max-height: 1280px) and (min-height: 1200px)
  .land
    &__container
      padding-left: 100px
      width: 650px
    &__players
      right: 0
      width: 970px
      bottom: -10px
@media screen and (max-width: 1707px) and (max-height: 910px)
  .land
    &__container
      transform: scale(0.8)
      transform-origin: left top
      padding-left: 150px
      width: 700px
    &__title
      margin-top: 180px
    &__players
      width: 1000px
      right: 0
@media screen and (max-width: 1707px) and (max-height: 835px)
  .land
    &__players
      width: 930px
@media screen and (max-width: 1680px) and (max-height: 1050px)
  .land
    &__container
      transform: scale(0.8)
      transform-origin: left top
      padding-left: 150px
      width: 700px
    &__title
      margin-top: 140px
    &__players
      width: 1000px
      right: 0
@media screen and (max-width: 1600px) and (max-height: 900px)
  .land
    &__container
      transform: scale(0.75)
      transform-origin: left top
      padding-left: 130px
      width: 680px
    &__title
      margin-top: 230px
    &__players
      width: 950px
      right: 0
@media screen and (max-width: 1600px) and (max-height: 810px)
  .land
    &__players
      width: 900px
    &__title
      margin-top: 140px
@media screen and (max-width: 1550px)
  .land
    &__text
      font-size: 12px
      line-height: 1.2

@media screen and (max-width: 1536px) and (max-height: 864px)
  .land
    &__container
      transform: scale(0.8)
      padding-left: 60px
      width: 610px
    &__title
      margin-top: 140px
    &__players
      right: -10px
@media screen and (max-width: 1536px) and (max-height: 770px)
  .land
    &__container
      transform: scale(0.70)
      padding-left: 160px
      width: 710px
    &__title
      margin-top: 180px
    &__players
      width: 840px
      right: 60px
@media screen and (max-width: 1512px) and (max-height: 870px)
  .land
    &__container
      transform: scale(0.65)
      padding-left: 130px
      width: 680px
    &__title
      margin-top: 270px
@media screen and (max-width: 1470px) and (max-height: 675px)
  .land
    &__container
      transform: scale(0.6)
      padding-left: 180px
      width: 730px
    &__title
      margin-top: 300px
    &__players
      width: 780px
    &__text
      bottom: 15px
// @media screen and (max-width: 1470px) and (max-height: 675px)

@media screen and (max-width: 1440px) and (max-height: 900px)
  .land
    &__container
      transform: scale(0.7)
      padding-left: 50px
      width: 600px
    &__title
      margin-top: 210px
    &__players
      width: 930px
      right: 0
      bottom: -100px
@media screen and (max-width: 1440px) and (max-height: 850px)
  .land
    &__players
      width: 900px
      bottom: -140px
@media screen and (max-width: 1440px) and (max-height: 800px)
  .land
    &__players
      bottom: -180px
@media screen and (max-width: 1380px) and (max-height: 960px)
  .land
    &__container
      transform: scale(0.73)
      transform-origin: left top
      padding-left: 50px
      width: 600px
    &__title
      margin-top: 210px
    &__players
      width: 860px
      bottom: -100px
      right: -10px
@media screen and (max-width: 1380px) and (max-height: 800px)
  .land
    &__players
      bottom: -205px
@media screen and (max-width: 1380px) and (max-height: 770px)
  .land
    &__container
      padding-left: 50px
      width: 600px

@media screen and (max-width: 1370px) and (max-height: 740px)
  .land
    &__container
      transform: scale(0.7)
    &__title
      margin-top: 220px
@media screen and (max-width: 1370px) and (max-height: 700px)
  .land
    &__container
      padding-left: 100px
      width: 650px
    &__players
      width: 820px
@media screen and (max-width: 1370px) and (max-height: 670px)
  .land
    &__container
      padding-left: 130px
      width: 680px
    &__players
      width: 780px
@media screen and (max-width: 1368px)
  .land
    &__text
      left: 20px
      right: 20px
@media screen and (max-width: 1368px) and (max-height: 1030px)
  .land
    &__container
      transform: scale(0.75)
      transform-origin: top left
      padding-left: 50px
      width: 600px
    &__title
      margin-top: 200px
    &__players
      width: 820px
      bottom: -10px
@media screen and (max-width: 1368px) and (max-height: 770px)
  .land
    &__container
      transform: scale(0.7)
      transform-origin: top left
      padding-left: 60px
      width: 610px
    &__title
      margin-top: 250px
    &__players
      bottom: -150px
@media screen and (max-width: 1368px) and (max-height: 700px)
  .land
    &__container
      padding-left: 120px
      width: 670px
    &__players
      bottom: -150px
      width: 770px
      right: 0
@media screen and (max-width: 1368px) and (max-height: 650px)
  .land
    &__players
      bottom: -190px
      width: 750px
@media screen and (max-width: 1368px) and (max-height: 630px)
  .land
    &__container
      transform: scale(0.67)
      transform-origin: top left
    &__title
      margin-top: 220px
@media screen and (max-width: 1302px) and (max-height: 1035px) and (min-height: 900px)
  .land
    &__container
      padding-left: 50px
      width: 600px
      transform: scale(0.7)
      transform-origin: top left
    &__title
      margin-top: 250px
    &__players
      width: 820px
      bottom: 0px
@media screen and (max-width: 1302px) and (max-height: 900px)
  .land
    &__container
      transform: scale(0.7)
      transform-origin: top left
    &__title
      margin-top: 250px
    &__players
      width: 820px
      bottom: -100px
@media screen and (max-width: 1299px) and (max-height: 1030px)
  .land
    &__players
      width: 790px
      bottom: 0
      right: -10px
@media screen and (max-width: 1280px) and (max-height: 860px)
  .land
    &__container
      transform: scale(0.65)
    &__title
      margin-top: 260px
    &__players
      width: 790px
      bottom: -100px
// @media screen and (max-width: 1280px) and (max-height: 800px)
//   .land
//     &__container
//       transform: scale(0.75)
//     &__players
//       width: 790px
//       bottom: -100px
@media screen and (max-width: 1280px) and (max-height: 750px)
  .land
    &__players
      bottom: -200px
@media screen and (max-width: 1280px) and (max-height: 700px)
  .land
    &__container
      transform: scale(0.65)
    &__title
      margin-top: 220px
@media screen and (max-width: 1280px) and (max-height: 630px)
  .land
    &__container
      transform: scale(0.6)
    &__title
      margin-top: 260px
    &__players
      width: 720px
      right: 20px
@media screen and (max-width: 1250px) and (max-height: 1030px)
  .land
    &__players
      width: 780px
      bottom: 0
@media screen and (max-width: 1240px)
  .land
    &__text
      font-size: 11px
@media screen and (max-width: 1210px) and (max-height: 760px)
  .land
    &__players
      bottom: -60px
@media screen and (max-width: 1210px) and (max-height: 720px)
  .land
    &__players
      bottom: -110px
@media screen and (max-width: 1210px) and (max-height: 590px)
  .land
    &__players
      width: 710px
      bottom: -170px
@media screen and (max-width: 1200px) and (max-height: 820px)
  .land
    &__container
      transform: scale(0.7)
    &__players
      width: 710px
      bottom: -110px
    &__text
      letter-spacing: -0.3px
@media screen and (max-width: 1200px) and (max-height: 720px)
  .land
    &__container
      transform: scale(0.65)
    &__players
      width: 690px
      bottom: -70px
    &__text
      letter-spacing: -0.1px
@media screen and (max-width: 1138px) and (max-height: 715px)
  .land
    &__container
      margin-left: 30px
@media screen and (max-width: 1133px) and (max-height: 772px)
  .land
    &__container
      transform: scale(0.6)
      padding-left: 50px
      width: 600px
    &__title
      margin-top: 340px
    &__players
      width: 660px
      bottom: -90px
@media screen and (max-width: 1133px) and (max-height: 672px)
  .land
    &__container
      padding-left: 100px
      width: 650px
@media screen and (max-width: 1124px) and (max-height: 840px)
  .land
    &__container
      transform: scale(0.7)
    &__title
      margin-top: 230px
    &__players
      width: 640px
      bottom: 0
      right: -10px
    // &__text
    //   bottom: 0
    //   max-width: 80%
@media screen and (max-width: 1123px) and (max-height: 768px)
  .land
    &__container
      transform: scale(0.65)
    &__title
      margin-top: 270px
@media screen and (max-width: 1080px) and (max-height: 710px)
  .land
    &__container
      transform: scale(0.65)
    &__title
      margin-top: 250px
@media screen and (max-width: 1050px) 
  .land
    &__text
      font-size: 10px
@media screen and (max-width: 1045px) and (max-height: 840px)
  .land
    &__container
      transform: scale(0.6)
      padding-left: 30px
      width: 580px
    &__title
      margin-top: 320px
    &__players
      bottom: 0
      width: 600px
      right: -10px
@media screen and (max-width: 1024px) and (max-height: 670px)
  .land
    &__container
      transform: scale(0.55)
    &__title
      margin-top: 330px
    &__players
      bottom: -100px
@media screen and (max-width: 1010px) and (max-height: 810px)
  .land
    &__players
      bottom: 0
@media screen and (max-width: 977px) and (max-height: 810px)
  .land
    &__container
      transform: scale(0.6)
    &__title
      margin-top: 350px
    &__players
      width: 580px
      bottom: -10px
@media screen and (max-width: 950px) and (max-height: 500px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.47)
      padding-left: 120px
      width: 670px
    &__players
      right: 30px
      bottom: -100px
      width: 490px
@media screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.43)
      margin-top: 30px
    &__title
      margin-top: 400px
    &__text
      font-size: 8px
      line-height: 12px
@media screen and (max-width: 920px) and (max-height: 420px)
  .land
    &__players
      width: 470px
@media screen and (max-width: 904px) and (max-height: 810px)
  .land
    &__container
      transform: scale(0.55)
    &__title
      margin-top: 400px
    &__players
      width: 530px
      bottom: 0
@media screen and (max-width: 900px) and (max-height: 420px)
  .land
    &__container
      transform: scale(0.42)
      margin-top: 30px
      padding-left: 150px
      width: 700px
    &__players
      width: 470px
      right: 30px
      bottom: -100px
@media screen and (max-width: 900px) and (max-height: 400px)
  .land
    &__players
      width: 460px
      right: 20px
      bottom: -100px
@media screen and (max-width: 900px) and (max-height: 350px)
  .land
    &__container
      transform: scale(0.4)
      margin-top: 20px
    &__players
      bottom: -150px
      right: 30px
@media screen and (max-width: 885px) and (max-height: 345px)
  .land
    &__container
      transform: scale(0.38)
    &__players
      width: 420px
      bottom: -110px
      right: 50px
    &__text
      bottom: 10px
@media screen and (max-width: 850px) and (max-height: 400px)
  .land
    &__container
      transform: scale(0.4)

@media screen and (max-width: 835px) and (max-height: 400px)
  .land
    &__players
      bottom: -120px
@media screen and (max-width: 830px) and (max-height: 700px)
  .land
    &__players
      width: 460px
      right: 10px
      bottom: 0px
@media screen and (max-width: 830px) and (max-height: 540px)
  .land
    &__container
      transform: scale(0.5)
    &__players
      width: 470px
      right: 0
      bottom: -70px
@media screen and (max-width: 830px) and (max-height: 420px)
  .land
    &__players
      width: 470px
      right: 0
      bottom: -100px
@media screen and (max-width: 825px) and (max-height: 415px)
  .land
    &__container
      transform: scale(0.44)
      padding-left: 60px
      width: 610px
    &__players
      bottom: -100px
      right: 0px
@media screen and (max-width: 825px) and (max-height: 290px)
  .land
    &__container
      transform: scale(0.35)
      margin-top: 10px
      padding-left: 250px
      width: 800px
    &__bonus
      margin-bottom: 25px
    &__players
      width: 390px
      right: 20px
      bottom: -130px
@media screen and (max-width: 820px) and (max-height: 380px)
  .land
    &__container
      transform: scale(0.44)
      margin-top: 10px
    &__players
      bottom: -120px
      right: 0px
    &__text
      bottom: 5px
@media screen and (max-width: 810px) and (max-height: 400px)
  .land
    &__text
      font-size: 7px
      line-height: 10px
      bottom: 10px
@media screen and (max-width: 810px) and (max-height: 380px)
  .land
    &__players
      bottom: -130px
@media screen and (max-width: 810px) and (max-height: 360px)
  .land
    &__players
      bottom: -150px
@media screen and (max-width: 810px) and (max-height: 333px)
  .land
    &__container
      transform: scale(0.35)
      margin-top: 10px
      padding-left: 150px
      width: 700px
    &__title
      margin-top: 480px
    &__players
      width: 410px
      right: 20px
@media screen and (max-width: 790px) and (max-height: 400px)
  .land
    &__container
      transform: scale(0.4)
      margin-top: 30px
      padding-left: 50px
      width: 600px
    &__title
      margin-top: 440px
    &__players
      width: 470px
      right: 0
      bottom: -120px
@media screen and (max-width: 785px) and (max-height: 310px)
  .land
    &__container
      transform: scale(0.3)
      margin-top: 10px
      padding-left: 150px
      width: 700px
    &__title
      margin-top: 540px
    &__players
      width: 390px
      right: 20px
@media screen and (max-width: 770px) and (max-height: 370px)
  .land
    &__container
      transform: scale(0.4)
      padding-left: 70px
      width: 620px
    &__players
      width: 440px

@media screen and (max-width: 760px) and (max-height: 310px)
  .land
    &__container
      transform: scale(0.3)
      margin-top: 10px
      padding-left: 150px
      width: 700px
    &__title
      margin-top: 540px
    &__players
      width: 390px
      right: 20px
      bottom: -120px
@media screen and (max-width: 750px) and (max-height: 430px)
  .land
    &__players
      width: 400px
      bottom: -50px
      right: 0
@media screen and (max-width: 750px) and (max-height: 360px)
  .land
    &__container
      transform: scale(0.35)
      margin-top: 25px
      margin-left: 30px
      padding-left: 90px
      width: 640px
    &__title
      margin-top: 500px
    &__players
      width: 390px
      bottom: -80px
      right: 20px
@media screen and (max-width: 750px) and (max-height: 340px)
  .land
    &__players
      bottom: -100px
@media screen and (max-width: 750px) and (max-height: 310px)
  .land
    &__container
      transform: scale(0.3)
      margin-top: 10px
      padding-left: 150px
      width: 700px
    &__title
      margin-top: 540px
    &__players
      width: 390px
      right: 20px
      bottom: -120px
@media screen and (max-width: 740px) and (max-height: 420px)
  .land
    &__container
      padding-left: 50px
      width: 600px
@media screen and (max-width: 735px) and (max-height: 340px)
  .land
    &__container
      transform: scale(0.33)
      margin-top: 10px
      padding-left: 150px
      width: 700px
    &__title
      margin-top: 540px
    &__players
      bottom: -110px
@media screen and (max-width: 720px) and (max-height: 540px)
  .land
    &__container
      transform: scale(0.4)
    &__title
      margin-top: 440px
    &__players
      width: 440px
      bottom: -60px
@media screen and (max-width: 720px) and (max-height: 420px)
  .land
    &__container
      transform: scale(0.4)
    &__title
      margin-top: 440px
    &__players
      width: 440px
      bottom: -100px
@media screen and (max-width: 715px) and (max-height: 325px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.32)
      margin-left: 20px
      margin-top: 15px
    &__title
      margin-top: 500px
    &__players
      right: 0px
      bottom: -110px
      width: 390px
@media screen and (max-width: 710px) and (max-height: 660px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.5)
    &__title
      margin-top: 440px
    &__players
      width: 380px
      right: -10px
@media screen and (max-width: 710px) and (max-height: 290px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.32)
      margin-left: 20px
      margin-top: 15px
    &__title
      margin-top: 500px
    &__players
      right: 40px
      bottom: -110px
      width: 360px
    &__text
      bottom: 0
      right: 0


@media screen and (max-width: 670px) and (max-height: 380px) and (orientation: landscape)
  .land
    &__players
      bottom: -70px
@media screen and (max-width: 667px) and (max-height: 395px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.37)
    &__title
      margin-top: 500px
    &__players
      width: 390px
      bottom: -50px
@media screen and (max-width: 667px) and (max-height: 375px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.35)
    &__players
      bottom: -70px
      width: 410px
      right: -10px
@media screen and (max-width: 667px) and (max-height: 325px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.32)
      margin-left: 20px
      margin-top: 15px
    &__title
      margin-top: 500px
    &__players
      right: 0px
      bottom: -110px
      width: 390px
@media screen and (max-height: 650px) and (orientation: landscape)
  .land
    &::before
      height: 15%
@media screen and (max-width: 640px) and (max-height: 360px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.33)
      margin-left: 20px
      margin-top: 20px
      padding-left: 100px
      width: 650px
    &__title
      margin-top: 550px
    &__players
      right: -10px
      bottom: -80px
      width: 390px
@media screen and (max-width: 570px) and (max-height: 320px)
  .land
    &__container
      transform: scale(0.33)
      margin-left: 20px
    &__title
      margin-top: 460px
    &__players
      width: 330px
      right: -10px
      bottom: -50px
    &__text
      bottom: 5px
@media screen and (max-width: 555px) and (max-height: 380px)
  .land
    &__container
      transform: scale(0.35)
      margin-left: 20px
    &__title
      margin-top: 440px
    &__players
      width: 330px
      right: -10px
      bottom: -30px
// **************************************************************************************************************************
// **************************************************************************************************************************
// **************************************************************************************************************************
// **************************************************************************************************************************
// **************************************************************************************************************************
// **************************************************************************************************************************

// // TABLET VERSION
@media screen and (max-width: 1300px) and (orientation: portrait)
  .land
    &::before
      height: 220px
    &__container
      transform: scale(1)
      margin: 0
      width: 100%
      padding: 20px
      padding-bottom: 0
      justify-content: flex-start
      z-index: 2
    &__logo
      width: 229px
      position: relative
      margin-bottom: 30px
    &__title
      margin-top: 0
      font-size: 40px
      line-height: 54px
      letter-spacing: 0.4px
      align-self: center
      margin-bottom: 6px
    &__bonus
      width: 420px
    &__price
      font-size: 47px
      line-height: 47px
      letter-spacing: 0.47px
      height: 68px
      padding: 12px 0 9px 0
      &::before
        font-size: 39px
        line-height: 40px
        margin-right: 7px
    &__price.noios-padding
      padding: 15px 0 0 0
    &__plus
      width: 46px
      height: 38px
    &__spins
      padding: 12px 0 9px 0
      font-size: 47px
      line-height: 47px
      letter-spacing: 0.47px
    &__spins.noios-padding
      padding: 15px 0 6px 0
    &__btn
      width: 360px
      height: 60px
      margin-top: auto
      margin-bottom: 77px
      font-size: 18px
      letter-spacing: 1.44px
      padding: 0
      padding-top: 18px
    &__btn.noios-padding
      padding-top: 21px
    &__text
      font-size: 12px
      line-height: 17px
      left: 65px
      right: 65px
      text-align: center
      bottom: 13px
    &__players
      bottom: -190px
      left: 0
      right: 0
      width: 100%
      margin: 0 auto
@media screen and (max-width: 1280px) and (max-height: 1706px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1.4)
      transform-origin: top
      margin-top: 40px
    &__btn
      transform: scale(1.4)
      transform-origin: bottom
      margin-bottom: 100px
    &__players
      bottom: -100px
@media screen and (max-width: 1032px) and (max-height: 1366px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1.2)
      transform-origin: top
      margin-top: 20px
    &__btn
      transform: scale(1.2)
      transform-origin: bottom
      margin-bottom: 77px
@media screen and (max-width: 1032px) and (max-height: 1302px) and (orientation: portrait)
  .land
    &__players
      bottom: -120px
@media screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait)
  .land
    &__players
      bottom: -90px
@media screen and (max-width: 1024px) and (max-height: 1299px) and (orientation: portrait)
  .land
    &__players
      bottom: -160px
@media screen and (max-width: 915px) and (max-height: 1380px) and (orientation: portrait)
  .land
    &__players
      bottom: -80px
@media screen and (max-width: 840px) and (max-height: 1150px) and (min-height: 1051px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1)
      transform-origin: top
      margin-top: 0px
    &__btn
      transform: scale(1)
    &__players
      bottom: -100px
@media screen and (max-width: 840px) and (max-height: 1050px) and (min-height: 970px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1)
      transform-origin: top
      margin-top: 0px
    &__btn
      transform: scale(1)
    &__players
      bottom: -130px
@media screen and (max-width: 810px) and (max-height: 980px) and (orientation: portrait)
  .land
    &__players
      bottom: -170px
@media screen and (max-width: 810px) and (max-height: 970px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1)
      transform-origin: top
      margin-top: 0px
@media screen and (max-width: 770px) and (max-height: 1030px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1)
      transform-origin: top
      margin-top: 0px
    &__btn
      transform: scale(1)
    &__players
      bottom: -90px

@media screen and (max-width: 770px) and (max-height: 1005px) and (orientation: portrait)
  .land
    &__players
      bottom: -130px
@media screen and (max-width: 770px) and (max-height: 955px) and (orientation: portrait)
  .land
    &__players
      bottom: -150px
@media screen and (max-width: 770px) and (max-height: 935px) and (orientation: portrait)
  .land
    &__players
      bottom: -190px
@media screen and (max-width: 770px) and (max-height: 905px) and (orientation: portrait)
  .land
    &__players
      width: 95%
      bottom: -170px
@media screen and (max-width: 755px) and (max-height: 1040px) and (orientation: portrait)
  .land
    &__players
      bottom: -140px
// @media screen and (max-width: 753px) and (max-height: 1040px) and (orientation: portrait)
//   .land
//     &__players
//       bottom: -140px
@media screen and (max-width: 720px) and (max-height: 1290px) and (min-height: 1200px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 50px
    &__players
      bottom: 0
@media screen and (max-width: 720px) and (max-height: 1140px) and (orientation: portrait)
  .land
    &__players
      bottom: 0
@media screen and (max-width: 717px) and (max-height: 1140px) and (orientation: portrait)
  .land
    &__players
      bottom: -70px
@media screen and (max-width: 717px) and (max-height: 1000px) and (orientation: portrait)
  .land
    &__players
      bottom: -100px
@media screen and (max-width: 690px) and (max-height: 830px) and (min-height: 800px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(0.9)
      transform-origin: top
    &__btn
      transform: scale(0.9)
      transform-origin: bottom
      margin-bottom: 57px
    &__logo
      margin-bottom: 20px
    &__title, &__bonus
      margin-bottom: 0
    &__players
      bottom: -105px
      width: 90%
    &__text
      font-size: 10px
      line-height: 13px
@media screen and (max-width: 660px) and (max-height: 710px) and (min-height: 600px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(0.8)
      transform-origin: top
    &__btn
      transform: scale(0.8)
      transform-origin: bottom
      margin-bottom: 60px
    &__logo
      margin-bottom: 10px
    &__title, &__bonus
      margin-bottom: 0
    &__players
      bottom: -190px
    &__text
      font-size: 10px
@media screen and (max-width: 660px) and (max-height: 710px) and (min-height: 660px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(0.7)
      transform-origin: top
    &__logo
      margin-bottom: 0
    &__btn
      transform: scale(0.7)
      transform-origin: bottom
      margin-bottom: 40px
    &__title
      line-height: 42px
    &__text
      line-height: 1.2
      bottom: 5px
@media screen and (max-width: 650px) and (max-height: 710px) and (min-height: 600px) and (orientation: portrait)
  .land
    &__players
      bottom: -180px
@media screen and (max-width: 430px) and (max-height: 750px) and (orientation: portrait)
  .land
    &__container
      transform: scale(0.85)
      transform-origin: center top
    &__btn
      margin-bottom: -30px
    &__players
      bottom: 0
    &__title
      font-size: 38px
    &__bonus
      width: 390px
    &__text
      font-size: 10px
      line-height: 12px
      left: 20px
      right: 20px
      max-width: 100%


// **************************************************************************************************************************
// **************************************************************************************************************************
// **************************************************************************************************************************
// **************************************************************************************************************************
// **************************************************************************************************************************
// // MOBILE VERSION
@media screen and (max-width: 600px) and (orientation: portrait)
  .land
    height: 100% 
    &::before
      height: 200px
      background: linear-gradient(180deg, rgba(0, 0, 85, 0.00) 0%, #005 66.32%)
    &__logo, &__title, &__bonus, &__btn
      transform: scale(1)
      margin-top: 0
      margin-bottom: 0
    &__container
      transform: scale(1)
      margin: 0
      width: 100%
      padding: 20px 27px 0 27px
      justify-content: flex-start
      z-index: 2
    &__logo
      width: 182px
      position: relative
      margin-bottom: 28px
    &__title
      font-size: 30px
      line-height: 40px
      letter-spacing: 0.3px
      margin-bottom: 6px
    &__bonus
      width: 321px
      max-width: 100%
    &__price
      font-size: 34px
      line-height: normal
      letter-spacing: 0.47px
      height: auto
      padding: 4px 0 1px 0
      &::before
        font-size: 28px
        margin-right: 7px
        line-height: normal
    &__price.noios-padding
      padding: 10px 0 3px 0
    &__plus
      width: 31px
      height: 26.5px
    &__spins
      padding: 4px 0 1px 0
      font-size: 34px
      line-height: normal
      letter-spacing: 0.47px
    &__spins.noios-padding
      padding: 10px 0 3px 0
    &__btn
      width: 321px
      max-width: 100%
      height: 60px
      margin-top: auto
      margin-bottom: 77px
      font-size: 18px
      letter-spacing: 1.44px
      padding: 0
      padding-top: 20px
    &__btn.noios-padding
      padding-top: 21px
      padding-left: 0 
      padding-right: 0 
    &__text
      font-size: 10px
      line-height: 16px
      left: 14px
      right: 14px
      text-align: center
      bottom: 10px
      max-width: none
    &__players
      transform: scale(1.1)
      transform-origin: bottom
      bottom: 0px
      left: 0
      right: 0
      width: 100%
      margin: 0 auto

@media screen and (max-width: 590px) and (max-height: 1210px) and (min-height: 1150px) and (orientation: portrait)
  .land
    &__logo, &__bonus, &__title, &__btn
      transform: scale(1.2)
    &__logo
      margin-top: 50px
      margin-bottom: 60px
    &__title
      margin-bottom: 40px
@media screen and (max-width: 540px) and (max-height: 720px) and (orientation: portrait)
  .land
    &__btn
      margin-bottom: 60px
    &__players
      bottom: -60px

@media screen and (max-width: 430px) and (max-height: 940px) and (min-height: 800px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 30px
    &__title
      margin-bottom: 20px
    &__players
      transform: scale(1.2)
      bottom: 60px
@media screen and (max-width: 430px) and (max-height: 800px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0
@media screen and (max-width: 430px) and (max-height: 752px) and (orientation: portrait)
  .land
    &__players
      bottom: 20px
    &__text
      line-height: 13px
@media screen and (max-width: 430px) and (max-height: 730px) and (orientation: portrait)
  .land
    &__players
      bottom: 0px
@media screen and (max-width: 403px) and (max-height: 680px) and (orientation: portrait)
  .land
    &__players
      bottom: -20px
@media screen and (max-width: 399px) and (max-height: 670px) and (orientation: portrait)
  .land
    &__players
      transform: scale(1.1)
      bottom: 10px
    &__btn
      margin-bottom: 77px
@media screen and (max-width: 385px) and (max-height: 720px) and (orientation: portrait)
  .land
    &__players
      bottom: 40px
@media screen and (max-width: 375px) and (max-height: 670px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0
    &__players
      bottom: 30px
    &__title
      margin-bottom: 6px
@media screen and (max-width: 375px) and (max-height: 650px) and (orientation: portrait)
  .land
    &__players
      bottom: 20px
@media screen and (max-width: 375px) and (max-height: 630px) and (orientation: portrait)
  .land
    &__players
      bottom: 0
@media screen and (max-width: 375px) and (max-height: 553px) and (min-height: 520px) and (orientation: portrait)
  .land
    &__logo, &__bonus, &__title, &__btn
      transform: scale(0.9)
    &__title
      font-size: 31px
      margin-bottom: 0
    &__players
      transform: scale(1)
      bottom: -25px
@media screen and (max-width: 360px) and (max-height: 750px) and (orientation: portrait)
  .land
    &__title
      font-size: 28px
      line-height: 30px
    &__text
      line-height: 13px
@media screen and (max-width: 360px) and (max-height: 640px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0px
    &__title
      margin-bottom: 0px
    &__players
      transform: scale(1.1)
    &__btn
      margin-bottom: 65px
@media screen and (max-width: 355px) and (max-height: 750px) and (orientation: portrait)
  .land
    &__btn
      margin-bottom: 65px
@media screen and (max-width: 345px) and (max-height: 890px) and (min-height: 840px) and (orientation: portrait)
  .land
    &__title, &__bonus
      margin-top: 20px
    &__title
      font-size: 27px
    &__text
      line-height: 13px
@media screen and (max-width: 340px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0
    &__title
      font-size: 26px
@media screen and (max-width: 337px) and (max-height: 750px) and (orientation: portrait)
  .land
    &__btn
      margin-bottom: 75px
    &__players
      bottom: 50px

@media screen and (max-width: 332px) and (max-height: 810px) and (min-height: 800px) and (orientation: portrait)
  .land
    &__btn
      margin-bottom: 85px
    &__text
      line-height: 14px
    &__players
      bottom: 60px
@media screen and (max-width: 320px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0
    &__title
      font-size: 25px
      margin-bottom: 6px
    &__text
      line-height: 13px
@media screen and (max-width: 320px) and (max-height: 660px) and (orientation: portrait)
  .land
    &__players
      bottom: 60px
@media screen and (max-width: 320px) and (max-height: 630px) and (orientation: portrait)
  .land
    &__players
      bottom: 40px
@media screen and (max-width: 320px) and (max-height: 600px) and (orientation: portrait)
  .land
    &__players
      bottom: 10px
@media screen and (max-width: 320px) and (max-height: 570px) and (orientation: portrait)
  .land
    &__logo, &__bonus, &__title, &__btn
      transform: scale(0.9)
    &__text
      bottom: 5px
@media screen and (max-width: 310px) and (orientation: portrait)
  .land
    &__title
      font-size: 24px
@media screen and (max-width: 300px) and (orientation: portrait)
  .land
    &__title
      font-size: 22px
@media screen and (max-width: 290px) and (max-height: 830px) and (min-height: 800px)and (orientation: portrait)
  .land
    &__logo
      margin-top: 50px
    &__bonus
      margin-top: 30px
    &__players
      bottom: 60px
