@media screen and (min-width: 2500px) and (min-height: 1350px)
  .land
    &__container
      transform: scale(1.2)
      transform-origin: top left
    &__btn
      margin-bottom: 150px
    &__players
      width: 1400px
@media screen and (max-width: 2204px) and (max-height: 990px)
  .land
    &__players
      width: 1150px
@media screen and (max-width: 1920px) and (max-height: 990px)
  .land
    &__players
      width: 1050px
@media screen and (max-width: 1830px) and (max-height: 920px)
  .land
    &__container
      padding-left: 140px
      width: 690px
    &__players
      width: 1000px
      right: 30px
@media screen and (max-width: 1707px) and (max-height: 910px)
  .land
    &__container
      padding-left: 90px
      width: 640px
    &__players
      width: 1000px
      right: 0
@media screen and (max-width: 1707px) and (max-height: 835px)
  .land
    &__container
      transform: scale(0.9)
      transform-origin: left top
    &__title
      margin-top: 50px
    &__players
      width: 930px
@media screen and (max-width: 1680px) and (max-height: 1050px)
  .land
    &__container
      padding-left: 50px
      width: 600px
    &__players
      width: 1000px
      right: 0
@media screen and (max-width: 1600px) and (max-height: 900px)
  .land
    &__container
      transform: scale(0.9)
      transform-origin: left top
    &__title
      margin-top: 30px
    &__players
      width: 950px
      right: 0
@media screen and (max-width: 1600px) and (max-height: 810px)
  .land
    &__players
      width: 900px
    &__title
      margin-top: 70px
@media screen and (max-width: 1550px)
  .land
    &__text
      font-size: 12px
@media screen and (max-width: 1536px) and (max-height: 864px)
  .land
    &__container
      transform: scale(0.85)
    &__title
      margin-top: 60px
@media screen and (max-width: 1536px) and (max-height: 770px)
  .land
    &__container
      transform: scale(0.70)
      padding-left: 160px
      width: 710px
    &__title
      margin-top: 180px
    &__players
      width: 840px
      right: 40px
@media screen and (max-width: 1470px) and (max-height: 675px)
  .land
    &__players
      width: 780px
    &__text
      bottom: 15px
@media screen and (max-width: 1440px) and (max-height: 900px)
  .land
    &__container
      transform: scale(0.8)
      padding-left: 50px
      width: 600px
    &__title
      margin-top: 150px
    &__players
      width: 930px
      right: 0
@media screen and (max-width: 1440px) and (max-height: 800px)
  .land
    &__players
      width: 900px
@media screen and (max-width: 1380px) and (max-height: 960px)
  .land
    &__container
      transform: scale(0.78)
      transform-origin: left top
    &__title
      margin-top: 180px
    &__players
      width: 860px
      bottom: -100px
      right: -10px
@media screen and (max-width: 1380px) and (max-height: 800px)
  .land
    &__players
      bottom: -205px
@media screen and (max-width: 1380px) and (max-height: 770px)
  .land
    &__container
      padding-left: 50px
      width: 600px

@media screen and (max-width: 1370px) and (max-height: 740px)
  .land
    &__container
      transform: scale(0.7)
    &__title
      margin-top: 180px
@media screen and (max-width: 1370px) and (max-height: 700px)
  .land
    &__players
      width: 820px
@media screen and (max-width: 1370px) and (max-height: 670px)
  .land
    &__players
      width: 780px
@media screen and (max-width: 1368px)
  .land
    &__text
      left: 20px
@media screen and (max-width: 1302px) and (min-height: 900px)
  .land
    &__container
      transform: scale(0.7)
      transform-origin: top left
    &__title
      margin-top: 250px
    &__players
      width: 820px
      bottom: -100px
@media screen and (max-width: 1280px) and (max-height: 800px)
  .land
    &__container
      transform: scale(0.75)
    &__players
      width: 790px
      bottom: -100px
@media screen and (max-width: 1280px) and (max-height: 750px)
  .land
    &__players
      bottom: -200px
@media screen and (max-width: 1280px) and (max-height: 700px)
  .land
    &__container
      transform: scale(0.65)
    &__title
      margin-top: 220px
@media screen and (max-width: 1280px) and (max-height: 630px)
  .land
    &__container
      transform: scale(0.6)
    &__title
      margin-top: 260px
    &__players
      width: 720px
      right: 20px
@media screen and (max-width: 1200px) and (max-height: 720px)
  .land
    &__container
      transform: scale(0.7)
    &__players
      width: 710px
      bottom: -110px
    &__text
      letter-spacing: -0.1px
@media screen and (max-width: 1138px) and (max-height: 715px)
  .land
    &__container
      margin-left: 30px
@media screen and (max-width: 1133px) and (max-height: 772px)
  .land
    &__players
      width: 660px
    &__text
      bottom: 0
      max-width: 80%
@media screen and (max-width: 1124px) and (max-height: 840px)
  .land
    &__container
      transform: scale(0.7)
    &__title
      margin-top: 230px
    &__players
      width: 640px
      bottom: -50px
      right: -10px
    &__text
      bottom: 0
      max-width: 80%
      line-height: 17px
@media screen and (max-width: 1123px) and (max-height: 768px)
  .land
    &__container
      transform: scale(0.7)
    &__title
      margin-top: 230px
@media screen and (max-width: 1080px) and (max-height: 710px)
  .land
    &__container
      transform: scale(0.65)
    &__title
      margin-top: 250px
@media screen and (max-width: 1045px) and (max-height: 840px)
  .land
    &__container
      transform: scale(0.65)
      padding-left: 30px
      width: 580px
    &__title
      margin-top: 280px
    &__players
      width: 600px
      right: -10px


// @media screen and (max-width: 1024px) and (max-height: 770px)
//   .land
//     &__container
//       transform: scale(0.65)
//       padding-left: 30px
//       width: 580px
//     &__title
//       margin-top: 280px
//     &__players
//       width: 600px
//       right: -10px
@media screen and (max-width: 1024px) and (max-height: 670px)
  .land
    &__container
      transform: scale(0.6)
    &__players
      bottom: -100px
@media screen and (max-width: 977px) and (max-height: 810px)
  .land
    &__container
      transform: scale(0.6)
    &__title
      margin-top: 350px
    &__players
      width: 580px
      bottom: -10px
@media screen and (max-width: 950px) and (max-height: 500px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.47)
    &__players
      right: 30px
      bottom: -100px
      width: 490px
@media screen and (max-width: 950px) and (max-height: 450px) and (orientation: landscape)
  .land
    &__text
      font-size: 8px
      line-height: 12px
@media screen and (max-width: 904px) and (max-height: 810px)
  .land
    &__container
      transform: scale(0.55)
    &__title
      margin-top: 400px
    &__players
      width: 550px
      bottom: -10px
@media screen and (max-width: 790px) and (max-height: 400px)
  .land
    &__container
      transform: scale(0.45)
      margin-top: 30px
    &__players
      width: 470px
      right: 0
      bottom: -120px
@media screen and (max-width: 760px) and (max-height: 430px)
  .land
    &__container
      transform: scale(0.4)
    &__players
      width: 400px
      bottom: -50px
      right: 10px
@media screen and (max-width: 750px) and (max-height: 430px)
  .land
    &__container
      transform: scale(0.45)
    &__players
      width: 400px
      bottom: -50px
      right: 0
@media screen and (max-width: 750px) and (max-height: 360px)
  .land
    &__container
      transform: scale(0.4)
      margin-top: 25px
      margin-left: 30px
      padding-left: 50px
      width: 600px
    &__players
      width: 390px
      bottom: -80px
      right: 20px
@media screen and (max-width: 720px) and (max-height: 420px)
  .land
    &__container
      transform: scale(0.4)
    &__title
      margin-top: 440px
@media screen and (max-width: 670px) and (max-height: 380px) and (orientation: landscape)
  .land
    &__players
      bottom: -70px
@media screen and (max-width: 660px) and (max-height: 320px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.36)
      margin-left: 20px
      margin-top: 15px
    &__title
      margin-top: 430px
    &__players
      right: 0px
      bottom: -110px
      width: 390px
@media screen and (max-width: 640px) and (max-height: 360px) and (orientation: landscape)
  .land
    &__container
      transform: scale(0.4)
      margin-left: 20px
      margin-top: 20px
    &__players
      right: -10px
      bottom: -100px
      width: 400px
@media screen and (max-width: 555px) and (max-height: 380px)
  .land
    &__container
      transform: scale(0.35)
      margin-left: 20px
    &__title
      margin-top: 440px
    &__players
      width: 330px
      right: -10px

// // TABLET VERSION
@media screen and (max-width: 1300px) and (orientation: portrait)
  .land
    &::before
      height: 220px
    &__container
      transform: scale(1)
      margin: 0
      width: 100%
      padding: 20px
      padding-bottom: 0
      justify-content: flex-start
      z-index: 2
    &__logo
      width: 229px
      position: relative
      margin-bottom: 30px
    &__title
      margin-top: 0
      font-size: 40px
      line-height: 54px
      letter-spacing: 0.4px
      align-self: center
      margin-bottom: 6px
    &__bonus
      width: 420px
    &__price
      font-size: 47px
      line-height: 47px
      letter-spacing: 0.47px
      height: 68px
      padding: 6px 0 0 0
      &::before
        font-size: 39px
        margin-right: 7px
    &__plus
      width: 46px
      height: 38px
    &__spins
      padding: 11px 0 10px 0
      font-size: 47px
      line-height: 47px
      letter-spacing: 0.47px
    &__btn
      width: 360px
      height: 60px
      margin-top: auto
      margin-bottom: 77px
      font-size: 18px
      letter-spacing: 1.44px
      padding: 0
      padding-top: 18px
    &__text
      font-size: 12px
      line-height: 17px
      left: 65px
      right: 65px
      text-align: center
      bottom: 13px
    &__players
      bottom: -190px
      left: 0
      right: 0
      width: 100%
      margin: 0 auto
@media screen and (max-width: 1280px) and (max-height: 1706px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1.4)
      transform-origin: top
      margin-top: 40px
    &__btn
      transform: scale(1.4)
      transform-origin: bottom
      margin-bottom: 100px
@media screen and (max-width: 1032px) and (max-height: 1366px) and (orientation: portrait)
  .land
    &__logo, &__title, &__bonus
      transform: scale(1.2)
      transform-origin: top
      margin-top: 20px
    &__btn
      transform: scale(1.2)
      transform-origin: bottom
      margin-bottom: 77px


@media screen and (max-width: 770px) and (max-height: 955px) and (orientation: portrait)
  .land
    &__players
      bottom: -150px
@media screen and (max-width: 770px) and (max-height: 905px) and (orientation: portrait)
  .land
    &__players
      width: 95%
      bottom: -160px
@media screen and (max-width: 755px) and (max-height: 1040px) and (orientation: portrait)
  .land
    &__players
      bottom: -100px
@media screen and (max-width: 717px) and (max-height: 1140px) and (orientation: portrait)
  .land
    &__players
      bottom: -70px

@media screen and (max-width: 430px) and (max-height: 750px) and (orientation: portrait)
  .land
    &__container
      transform: scale(0.85)
      transform-origin: center top
    &__btn
      margin-bottom: -30px
    &__players
      bottom: 0
    &__title
      font-size: 38px
    &__bonus
      width: 390px
    &__text
      font-size: 10px
      line-height: 12px
      left: 20px
      right: 20px
      max-width: 100%



// // MOBILE VERSION
@media screen and (max-width: 600px) and (orientation: portrait)
  .land
    height: 100svh /// NEED TO BE TESTED
    &::before
      height: 200px
    &__logo, &__title, &__bonus, &__btn
      transform: scale(1)
      margin-top: 0
      margin-bottom: 0
    &__container
      transform: scale(1)
      margin: 0
      width: 100%
      padding: 20px 27px 0 27px
      justify-content: flex-start
      z-index: 2
    &__logo
      width: 182px
      position: relative
      margin-bottom: 28px
    &__title
      font-size: 30px
      line-height: 40px
      letter-spacing: 0.3px
      margin-bottom: 6px
    &__bonus
      width: 321px
      max-width: 100%

    &__price
      font-size: 34px
      line-height: normal
      letter-spacing: 0.47px
      height: auto
      padding: 3px 0 2px 0
      &::before
        font-size: 28px
        margin-right: 7px
        line-height: normal
    &__plus
      width: 31px
      height: 26.5px
    &__spins
      // height: 50px
      padding: 3px 0 2px 0
      font-size: 34px
      line-height: normal
      letter-spacing: 0.47px
    &__btn
      width: 321px
      max-width: 100%
      height: 60px
      margin-top: auto
      margin-bottom: 77px
      font-size: 18px
      letter-spacing: 1.44px
      padding: 0
      padding-top: 18px
    &__text
      font-size: 10px
      line-height: 17px
      left: 14px
      right: 14px
      text-align: center
      bottom: 10px
      max-width: none
    &__players
      transform: scale(1.1)
      transform-origin: bottom
      bottom: -20px
      left: 0
      right: 0
      width: 100%
      margin: 0 auto


@media screen and (max-width: 430px) and (max-height: 940px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 30px
    &__title
      margin-bottom: 20px
    &__players
      transform: scale(1.2)
      bottom: 0
@media screen and (max-width: 375px) and (max-height: 670px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0
    &__title
      margin-bottom: 6px
@media screen and (max-width: 360px) and (max-height: 750px) and (orientation: portrait)
  .land
    &__title
      font-size: 29px
    &__text
      line-height: 13px
@media screen and (max-width: 360px) and (max-height: 640px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0px
    &__title
      margin-bottom: 0px
    &__players
      transform: scale(1.1)
      bottom: 0
@media screen and (max-width: 320px) and (orientation: portrait)
  .land
    &__logo
      margin-top: 0
    &__title
      font-size: 25px
      margin-bottom: 6px
    &__text
      line-height: 13px