//- a(href="https://tds.favbet.partners").main-link
.land
  .land__container
    img.land__logo(src="./img/logo.svg" alt="favbet logo")
    h1.land__title ВІТАЛЬНИЙ БОНУС*
    .land__bonus
      .land__price 225 000 ₴
      .land__plus
      .land__spins 300 fs
    a(href="https://tds.favbet.partners").land__btn Забрати бонус
  
  .land__players
    picture
      source(media="(min-width: 600px) and (min-height: 501px) and (orientation: landscape)" srcset="img/players-desk.png")
      source(media="(min-width: 601px) and (max-width: 1300px) and (orientation: portrait)" srcset="img/players-tab.png")
      source(media="(max-width: 500px) and (orientation: portrait)" srcset="img/players-mob.png")
      source(media="(max-width: 950px) and (orientation: landscape) and (max-height: 500px)" srcset="img/players-mob.png")
      img(src="img/players-desk.png" alt="players")

  p.land__text
    | * Під бонусом розуміється можливість отримати приз в рамках акції «Вітальний бонус». 
    | Період дії акції з 24.03.2025 по 31.12.2025 року. 
    | Бонус доступний тільки для нових клієнтів. Деталі на сайті favbet.ua. 


.footer
    .footer__text 
      | Ліцензія на провадження діяльності з організації та проведення азартних ігор казино в мережі Інтернет від 20.04.2021 року, 
      | видана ТОВ «БК «ФАВБЕТ» на підставі Рішення КРАІЛ від 05.04.2021 року за №137 із змінами та Ліцензія на провадження 
      | діяльності з організації та проведення букмекерської діяльності від 28.12.2022 року, 
      | видана ТОВ «БК «ФАВБЕТ» на підставі Рішення КРАІЛ від 13.12.2022 року за № 433
    .footer__wrap
        ul.footer__licensed
            li.footer__licensed-item
                img(src="./img/age.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/applePay.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/googlePay.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/visa.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/mastercard.svg" alt="favbet")
        .footer__btns
            a(href="https://apps.apple.com/ua/app/favbet-ua/id1580749519" target="_blank").footer__appstore
            a(href="https://favbet.ua/minio/android-files/FavbetUA.apk" target="_blank").footer__googlePlay
.legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ